@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{

}
.button{
  transition: all .5s ease;
  color: #007CC7;
  border: 3px solid white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 25px;
  border-radius: 36px;
}
.button:hover {
  background-color: #001F3F !important;
  padding: 25px;
  color: #fff;

}
a:hover{
  text-decoration: none;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #12232E;
  padding: 5px;
}

.date{
  text-align: left !important;
}

a {
  color: #ffffff ;
  padding-bottom: 25px;
}

.panel-heading{
  color: #111111  ;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card-container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.card-body{
  display: flex;
  flex-direction: column;
}
.card{
  margin: 8px 0;
}
.card-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*HIDE FORM*/
#date, #itemid{
  visibility: hidden;
  display: none;
}

/* SEARCH STYLE */
.form-search{
  display: flex;
  margin: 32px;
  gap: 16px;
  align-items: center;
}
#name{
  max-width: 180px;
}
.search-icon{
  max-width: 32px;
  max-height: 32px;
}

.nutrient-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 32px 0;
}

.enter{
  color: #111111 !important;
}

