*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7e57c2;
  padding: 5px;
}

a {
  color: #ffffff ;
  padding-bottom: 25px;
}

.panel-heading{
  color: #111111  ;
}
