extends layout 

block content
  if errors
    ul
    div.error
      for error in errors
        li.warning!= error.msg
        
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' aria-describedby="inputGroup-sizing-sm" value=(undefined===item ? '' : item.name)  )