extends layout

block content


  if error
    p Error getting dynamic content.
  else

  div.card-header=title
  div.nutrient-container
    each item in items
      div.food-nutrient
        p #{item.nutrient.name}  #{item.amount}
    a(method = 'POST' href= '/journal/'+id +'/add' class ='button') Add to Journal