extends layout

block content


  if error
    p Error getting dynamic content.
  else
  div.header=title
    each item in items
      div.card(style = 'display:flex;flex-direction:column;' )
        p.card-header  #{item.nutrient.name}
        p.card  #{item.amount}
  a(method = 'POST' href= '/journal/'+id +'/journal' class ='panel-heading') Add to Journal