extends layout
block content
  if errors
    .alert.alert-danger     
       | Invalid Username or Password
  div.body
    form(method='POST' action='')
      h1= title 
      br
      div.form-group
        input#email.form-control(class = 'mail' type='email'  placeholder='Email' name='email' ) 
      div.form-group
        input#password.form-control(type='password' placeholder='Password' name='password' ) 

      button.btn.btn-primary(type='submit') Submit
    button.btn.btn-primary(id='guest-login') Login as Guest


    script.
      document.getElementById('guest-login').addEventListener('click', function() {
        console.log("here")
        fetch('/users/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email: 'guest@gmail.com', password: 'password123.' })
        })
          .then(response => {
            console.log('Success:', response);
            if (response.status === 200) {
              window.location.replace('/');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
