extends layout
block content
  h1= title
  if errors
    .alert.alert-danger     
       | Invalid Username or Password

  form(method='POST' action='')
    div 
      h3 Guests use the credentials below:
      p email: guest@gmail.com
      p password: password123.
    br
    div.form-group
      input#email.form-control(type='text', placeholder='Email' name='email' required='true') 
    div.form-group
      input#password.form-control(type='password', placeholder='Password' name='password' required='true') 

    button.btn.btn-primary(type='submit') Submit
