extends layout
block content
  h1= title
  if errors
    ul
    div.error
      for error in errors
        li.warning!= error.msg
        
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name' name='name' required='true' )
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='username' name='username' rows='3' required='true') 
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text', placeholder='Enter number' name='email' required='true') 
    div.form-group
      label(for='password') password:
      input#password.form-control(type='text', placeholder='Enter number' name='password'  required='true') 

      button.btn.btn-primary(type='submit') Submit
      hr
      button.btn.btn-primary
        a(href="/users/login") Already have an account? Login 


