extends layout
block content
  h1= title
  if errors
    ul
    div.error
      for error in errors
        li.warning!= error.msg
        
  form(method='POST' action='')
    div.form-group
      input#name.form-control(type='text', placeholder='Name' name='name' required='true' )
    div.form-group
      input#username.form-control(type='text', placeholder='Username' name='username' required='true') 
    div.form-group
      input#email.form-control(type='text', placeholder='Email' name='email' required='true') 
    div.form-group
      input#password.form-control(type='text', placeholder='Password' name='password'  required='true') 

    button.btn.btn-primary(type='submit') Submit
    hr
    button.btn.btn-primary
      a(href="/users/login") Already have an account? Login 


